<div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
    </header>
  </div>
  <a href="admin/allUser" class="btn btn-secondary btn-lg active" style="height:50px;width:250px" role="button" routerLink="allUser" aria-pressed="true">List Users</a>
  <br>
  <br>
  <a href="admin/allClient" class="btn btn-secondary btn-lg active" style="height:50px;width:250px" role="button" routerLink="allClient" aria-pressed="true">List Clients</a>
  <br>
  <br>
  <a href="admin/allDemande" class="btn btn-secondary btn-lg active" style="height:50px;width:250px" role="button" routerLink="allDemande" aria-pressed="true">List Demandes</a>
  