<div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
    </header>
  
  </div>
  
  
  
  <div class="bg-text">
    <h1 class="lead" style="font-size: 50px;">ALTARiiS</h1>
    <p class="lead" style="font-size: 40px;">Est une société de services qui permet à collecter des informations sur des personnes morales ou physiques pour traiter des enquêtes à la demande de ses clients.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>